<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1">
  <display-name>MyShoppingCartApp</display-name>
  
  <servlet>
     <servlet-name>StoreServlet</servlet-name>
     <servlet-class>com.cpsc476.StoreServlet</servlet-class>
  </servlet>
  <servlet-mapping>
     <servlet-name>StoreServlet</servlet-name>
     <url-pattern>/store</url-pattern>
  </servlet-mapping>
  
  <session-config>
    <session-timeout>30</session-timeout>
    <cookie-config>
      <http-only>true</http-only>
    </cookie-config>
    <tracking-mode>COOKIE</tracking-mode>
  </session-config>
</web-app>